@use "sass:color";
@use "variables" as *;

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin button-style(
    $bg-color,
    $text-color,
    $hover-bg: color.adjust($bg-color, $lightness: -10%),
    $hover-text: $text-color
) {
    background-color: $bg-color;
    color: $text-color;
    padding: $spacing-sm $spacing-md;
    font-size: 1rem;
    font-weight: bold;
    border-radius: $border-radius-md;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    border: none;

    &:hover {
        background-color: $hover-bg;
        color: $hover-text;
    }
}

@mixin input-style(
    $border-color,
    $background-color: $background-color,
    $text-color: $text-color
) {
    padding: $spacing-sm;
    border: 2px solid $border-color;
    border-radius: $border-radius-md;
    font-family: $font-primary;
    font-size: $font-size-md;
    color: $text-color;
    background-color: $background-color;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &:focus {
        border-color: color.adjust($border-color, $lightness: -10%);
        box-shadow: 0 0 5px color.adjust($border-color, $lightness: -20%);
        outline: none;
    }
}
