$primary-color: rgb(25, 0, 60);
$onprimary-color: rgb(255, 255, 255);

$secondary-color: rgb(246, 238, 255);
$onsecondary-color: rgb(109, 35, 248);

$accent-color: rgb(159, 50, 255 ); 

$background-color: rgb(255, 255, 255); 
$text-color: rgb(28, 27, 30); 
$border-color: rgb(208, 188, 255);

$error-color: red;

$font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-size-xs: 0.75rem;  
$font-size-sm: 0.875rem; 
$font-size-md: 1rem;     
$font-size-lg: 1.25rem;  
$font-size-xl: 1.5rem;  
$font-size-xxl: 2rem;    

$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;

$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 12px;
