@use "sass:color";
@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.areas-page {
    padding: $spacing-md;
    background-color: $background-color;
    border-radius: $border-radius-md;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    &__title {
        font-family: $font-primary;
        font-size: $font-size-xxl;
        font-weight: bold;
        color: $onsecondary-color;
        margin: 0;
        margin-bottom: $spacing-md; 
    }

    &__loading-text,
    &__error-text {
        text-align: center;
        margin: $spacing-sm 0;
    }

    &__error-text {
        color: $error-color;
    }
}
