@use "../../assets/styles/variables" as *;

.app-footer {
    background-color: $primary-color;
    padding: $spacing-sm;
    text-align: center;

    &__text {
        color: $onprimary-color;
        font-size: $font-size-sm;
        margin: 0;
    }
}
