@use "../../assets/styles/variables" as *;

.app-header {
    background-color: $primary-color;
    padding: $spacing-sm $spacing-md;
    display: flex;
    align-items: center;

    &__logo {
        width: 70px;
        margin-right: $spacing-md;
        filter: brightness(0) invert(1);
    }

    &__title {
        font-size: $font-size-xl;
        color: $onprimary-color;
        font-weight: bold;
    }
}
